/*!
 * Body content
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: $black;
}

/* error if tags without attr */
img:not([alt]),
label:not([for]),
input[type=submit]:not([value]) {
  outline: 1px dotted red;
}

/* error if first child not used  */
ul > *:not(li),
ol > *:not(li),
dl > *:not(dt):not(dd) {
  outline: 1px dotted red;
}

input:focus, textarea, a, button {
  outline: none !important;
  //-webkit-appearance: none !important; //trouble with radiobutton
}

a, a:hover {
  color: $orange;
  transition: .3s;
}

.clearfix {

  &:after,
  &:before {
    content: "";
    display: table;
    height: 0;
  }
  &:after {
    clear: both;
  }
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $grey-dark;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $grey-dark;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $grey-dark;
}
:-moz-placeholder { /* Firefox 18- */
  color: $grey-dark;
}
.animate, .animate:hover {
  transition: .5s;
}

#back-to-top {
  color: $white;
  width: 50px;
  height: 50px;
  background-color: $orange;
  text-transform: uppercase;
  position: fixed;
  right: 20px;
  bottom: 50px;
  line-height: 50px;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  display: none;
  z-index: 9;
  transition: .3s;
}